.git
.github
.env
.env.*
!.env.example
node_modules
vendor
tests
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail/*
.phpunit.cache
.phpunit.result.cache
docker-compose.yml
.editorconfig
.gitattributes
README.md
